<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="这里是 于野 的个人博客，与我一起探索学习更多知识 | 过去无法挽回，未来可以改变">
<meta name="keywords" content="于野, qmstar0, QMstar, 于野QMstar, 探索日志, 探索, Blog, 博客, 个人网站, 个人博客, 互联网, Web, Python, JavaScript, Go, Rust, 程序, 设计, 代码">
<link rel="stylesheet" href="/assets/fonts/firacode-regular.css"/>
<link rel="stylesheet" href="/assets/fonts/lxgw-lite-regular.css"/>
<link rel="stylesheet" href="/assets/v1/main.css"/>
<link rel="icon" href="/assets/v1/favicon.ico"/>
